/*=======================================
            Margins - Start 
=======================================*/
@for $i from 1 through 20 {
    .m-#{$i} {
        margin: calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 20 {
    .mx-#{$i} {
        margin: 0px calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 20 {
    .my-#{$i} {
        margin: calc(#{$space-x} * #{$i}) 0px !important;
    }
}

@for $i from 1 through 20 {
    .mt-#{$i} {
        margin-top: calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 20 {
    .mr-#{$i} {
        margin-right: calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 20 {
    .mb-#{$i} {
        margin-bottom: calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 20 {
    .ml-#{$i} {
        margin-left: calc(#{$space-x} * #{$i}) !important;
    }
}

/*=======================================
              Margins - End
=======================================*/
