/*=======================================
            Variables - Start 
=======================================*/
// FONT
$default-font-size: 1.6rem;

// GRID TEST
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 4rem;

/*=======================================
            Variables - End 
=======================================*/
