/*=======================================
        Font which is used on Page
=======================================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700;1,800&display=swap");
/* font-family: "Open Sans", sans-serif; ( When we need use )*/

/*=======================================
         Tailwind Configuration
=======================================*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*=======================================
         Reset Configuration
=======================================*/
@import "./Styles/reset.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/*=======================================
    for Advertisement ( primaryCard )
=======================================*/
.parent {
    width: 95%;
    margin: 0px;
    height: 450px;
    border-radius: 1.6rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.parent:hover .child,
.parent:focus .child {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.parent:hover .child:before,
.parent:focus .child:before {
    display: block;
    opacity: 0.9;
}

.parent:hover a,
.parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: block;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.child {
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    background-color: inherit; /* fallback color */
    background-position: center;
    background-size: cover;
}

.parent:hover .child,
.parent:focus .child {
    transform: scale(1.2);
    transition: all 0.6s ease;
}

.child::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(250, 250, 250, 0.3);
}

.parent:hover .child:before,
.parent:focus .child:before {
    display: block;
    transition: all 0.3s ease;
}

/*=======================================
      for Carousel ( primaryCard )
=======================================*/
.shadow-primary {
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px,
        rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0px;
}

