/*=======================================
            Mixins - Start 
=======================================*/
@mixin block {
    display: block;
}

@mixin inline-block {
    display: inline-block;
}

@mixin text-align-start {
    text-align: start;
}

@mixin text-align-center {
    text-align: center;
}

@mixin text-align-end {
    text-align: end;
}

@mixin flex {
    display: flex;
}

@mixin flex-wrap {
    flex-wrap: wrap;
}

@mixin flex-direction-column {
    flex-direction: column;
}

@mixin align-items-center {
    align-items: center;
}

@mixin align-items-end {
    align-items: flex-end;
}

@mixin justify-content-center {
    justify-content: center;
}

@mixin justify-content-end {
    justify-content: end;
}

@mixin justify-space-between {
    justify-content: space-between;
}

@mixin justify-space-around {
    justify-content: space-around;
}

@mixin justify-space-evenly {
    justify-content: space-evenly;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*=======================================
            Mixins - End 
=======================================*/
