/*=======================================
            Variables - Start
=======================================*/

// FONT
$default-font-size: 1.6rem;

// GRID TEST
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 4rem;
$container-width: 1440px;

$space-x: 0.5rem;
$space-2x: $space-x * 2;
$space-3x: $space-x * 3;
$space-4x: $space-x * 4;
$space-5x: $space-x * 5;
$space-6x: $space-x * 6;
$space-6x: $space-x * 7;
$space-8x: $space-x * 8;
$space-9x: $space-x * 9;
$space-10x: $space-x * 10;

/*=======================================
            Variables - End
=======================================*/
