.category {
    display: block;
    position: relative;
    color: #222;
    font-size:20px; 
    margin-bottom:1rem;
    font-weight:600;
  }
  
  .category:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #555;
    transform-origin: bottom right;
    transition: transform 0.9s linear;
    
  }
  
  .category:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
     
  }
  @media (max-width: 1024px) { 
  .category{
    display:inline-block;
    margin-right:1.5rem
  }
  }