/*=======================================
                 Base 
=======================================*/
@import "./base/reset";
@import "./base/base";
@import "./base/typography";

/*=======================================
                Abstract 
=======================================*/
@import "./abstracts/animations";
@import "./abstracts/variables";
@import "./abstracts/colors";
@import "./abstracts/mixins";
@import "./abstracts/functions";

/*=======================================
                Layout 
=======================================*/
@import "./layout/grid";
@import "./layout/flex";
@import "./layout/fixed";
@import "./layout/borders";
@import "./layout/margins";
@import "./layout/padding";
@import "./layout/positions";

/*=======================================
                Components
=======================================*/
@import "./components/adsCard";
@import "./components/categoriesCard";
@import "./components/comboCards";
@import "./components/disCount";
@import "./components/primaryCard";
@import "./components/secondaryCard";
@import "./components/specialCard";

/*=======================================
                Pages
=======================================*/
@import "./pages/home";
